/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   .hebergements-and-populaires {
      flex-direction: column;
   }

   .hebergements-and-populaires section {
      padding: 20px;
   }

   .populaires {
      width: 100%;
      margin-top: 50px;
   }

   .populaires-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .populaires-cards a {
      width: 30%;
   }

   .populaires-cards .card-title {
      font-size: 14px;
   }

   .populaires-cards .card-subtitle {
      font-size: 13px;
   }

   .hebergements {
      width: 100%;
   }

   .activities-cards .card {
      height: 270px;
   }

   .activities-cards h3 {
      top: 87%;
   }

   .activities-cards img {
      height: 200px;
   }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
   header {
      flex-direction: column;
      align-items: center;
   }

   nav {
      margin-top: none;
      width: 100%;
   }

   nav ul {
      width: 100%;
      gap: 0;
   }

   nav li {
      width: 50%;
      text-align: center;
      padding-top: 0;
      padding-bottom: 15px;
      border-bottom: 2px solid var(--main-bg-color);
   }

   nav a:hover {
      border-top: none;
      padding-top: 0;
   }

   nav li:hover {
      color: var(--main-color);
      border-top: none;
      border-bottom: 2px solid var(--main-color);
      text-decoration: none;
   }

   .main-container {
      padding: 0px;
   }

   .info-group {
      padding: 0 20px;
   }

   .searchBar {
      width: 101.5%;
   }

   .searchInput {
      flex: 1;
   }

   .searchBar .btn {
      position: relative;
      left: -10px;
      padding: 0;
      width: 50px;
      border-radius: 15px 15px 15px 15px;
   }

   .searchBar .btn i {
      display: block;
   }

   .searchBar .btn span {
      display: none;
   }

   .filters {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      width: 100%;
      gap: 15px;
   }

   .hebergements-and-populaires section {
      border-radius: 0px;
   }

   section.hebergements {
      background-color: white;
   }

   .hebergements {
      order: 2;
   }

   .hebergements-cards {
      grid-template: repeat(6, 1fr) / 1fr;
   }

   .populaires {
      margin-top: 0;
      margin-bottom: 15px;
   }

   .populaires-cards {
      flex-direction: column;
   }

   .populaires-cards a {
      width: 100%;
   }

   .activities-cards {
      display: grid;
      grid-template: 4fr/ 1fr;
      gap: 15px;
   }

   .activities-cards .card {
      height: 200px;
   }

   .activities-cards img {
      height: 141px;
   }

   .activities-cards h3 {
      top: 85%;
   }

   footer {
      flex-direction: column;
      padding: 30px;
      gap: 50px;
   }
}
